@use '../../assets/styles/variables' as *;
@use '../../assets/styles/placeholder' as *;
@use '../../assets/styles/mixins' as *;

.education {
  padding: 2rem;
  background-color: $background-color;
  border-radius: 0.5rem;
  @extend %main-shadow;
  margin-bottom: 1rem;

  &__title {
    @extend %font-secondary;
    @include font(2rem);
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: $white-color;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
      transform: translateY(-0.25rem);
      @extend %main-shadow;
    }
  }

  &__icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: $primary-color;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__course {
    @include font(1.2rem, 1.6, 600);
    color: $secondary-color;
  }

  &__institution {
    @include font(1rem);
  }
}