@use '../../assets/styles/variables' as *;
@use '../../assets/styles/placeholder' as *;
@use '../../assets/styles/mixins' as *;

.hero {
  @extend %flex-center;
  @extend %main-shadow;
  flex-direction: column;
  padding: 6.25rem 1.25rem;
  background-color: $secondary-color;
  color: $white-color;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  opacity: 0;
  transform: translateY(1.25rem);
  animation: fadeInUp 1s ease-out forwards;

  &__title {
    position: relative;
    color: transparent;
    @include font(3.125rem, 1.6, 100);
    @extend %font-secondary;
    -webkit-text-stroke: 0.0625rem $primary-color;
  }

  &__title::before {
    content: 'My name is Katsiaryna';
    position: absolute;
    top: -3.75rem;
    left: 0;
    width: 100%;
    color: $primary-color;
    animation: stroke 3s forwards ease-in-out;
  }

  &__text {
    @extend %font-decorative;
    white-space: normal;
    overflow: hidden;
    border-right: 0.1875rem solid $primary-color;
    width: 100%;
    animation: typing 3.5s steps(40, end) forwards, blink 0.75s step-end infinite;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: $primary-color;
  }
}

@keyframes stroke {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}