.skills {
  padding: 2rem;
  background-color: #333;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 150px;
    justify-content: center;
    text-align: center;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
  }

  &__icon {
    font-size: 2rem;
    margin-right: 0.5rem;
    color: #ff6347;
    /* Blue color to highlight the icons */
  }

  &__name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
  }
}