@use '../../assets/styles/variables' as *;
@use '../../assets/styles/placeholder' as *;
@use '../../assets/styles/mixins' as *;

.skills {
  padding: 2rem;
  background-color: $secondary-color;
  color: $white-color;
  border-radius: 0.5rem;
  @extend %main-shadow;
  margin-bottom: 1rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  &__item {
    @extend %flex-center;
    padding: 1rem;
    background-color: $white-color;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 9.375rem;
    text-align: center;

    &:hover {
      transform: translateY(-0.25rem);
      @extend %main-shadow;
    }

    @include media-tablet {
      width: 8rem;
    }

    @include media-mobile {
      width: 7rem;
      padding: 0.8rem;
    }
  }

  &__icon {
    font-size: 2rem;
    margin-right: 0.5rem;
    color: $primary-color;

    @include media-tablet {
      font-size: 1.8rem;
    }

    @include media-mobile {
      font-size: 1.5rem;
    }
  }

  &__name {
    @include font(1.2rem, 1.4, 600);
    color: $secondary-color;

    @include media-tablet {
      @include font(1.1rem, 1.4, 600);
    }

    @include media-mobile {
      @include font(1rem, 1.4, 600);
    }
  }

  @include media-tablet {
    padding: 1.5rem;
  }

  @include media-mobile {
    padding: 1rem;
  }
}