@use '../../assets/styles/variables' as *;
@use '../../assets/styles/placeholder' as *;
@use '../../assets/styles/mixins' as *;

.header {
  background-color: $secondary-color;
  color: $white-color;
  padding: 0.94rem 1.88rem;
  @extend %main-shadow;
}

.navigation {
  @extend %flex-center;

  &__list {
    display: flex;
    gap: 1.2rem;
  }

  &__item {
    position: relative;
    animation: fadeInUp 0.6s ease forwards;
    opacity: 0;
    transform: translateY(20px);

    &:nth-child(1) {
      animation-delay: 0.1s;
    }

    &:nth-child(2) {
      animation-delay: 0.2s;
    }

    &:nth-child(3) {
      animation-delay: 0.3s;
    }

    &:nth-child(4) {
      animation-delay: 0.4s;
    }

    &:nth-child(5) {
      animation-delay: 0.5s;
    }
  }

  &__link {
    @extend %font-secondary;
    @include font(1.2rem);
    @include transition(color);
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    padding: 0.3125rem 0;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $primary-color;
      transform: scaleX(0);
      transform-origin: right;
      @include transition(transform);
    }

    &:hover {
      color: $primary-color;

      &:before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(1.25rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}