$primary-color: #ff6347;
$secondary-color: #5c5c5c;
$background-color: #f9f9f9;
$white-color: #ffffff;
$text-color: #333;

$font-size-base: 1rem;


$xl-width: 1024px;
$lg-width: 768px;
$m-width: 460px;