.contacts {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;

  &__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  &__item {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center; // Align icon and text vertically

    &__icon {
      margin-right: 0.5rem; // Space between icon and text
    }
  }

  &__link {
    color: #007bff; // Link color
    text-decoration: none; // No underline

    &:hover {
      text-decoration: underline; // Underline on hover
    }
  }
}